{
  "presets": [["env",{
    "targets": {
      "browsers": ["> 5%","ie > 9"],
      "uglify": true
    }
  }], ["react"]],
  "plugins": ["transform-decorators-legacy","syntax-async-functions","transform-object-rest-spread","transform-class-properties"],
  "comments": false,
  "env":{
    "development":{
      "plugins": ["react-hot-loader/babel"]
    }
  }
}