<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="This is Jack Hu's blog. use react.">
    <meta name="keyword" content="Jackblog react redux react-router react-redux-router react-bootstrap react-alert">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?<%= htmlWebpackPlugin.options.baiduappkey %>";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
  <body class="<%= htmlWebpackPlugin.options.styleMode %>">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="top-box" id="root"><%= htmlWebpackPlugin.options.htmlContent %></div>
    <script type="text/javascript"><%= htmlWebpackPlugin.options.initialData %></script>
  </body>
</html>